<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tcc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.quemtocahoje.Views.TelaInicialEstabelecimento"></activity>
        <activity android:name="com.example.quemtocahoje.Views.TelaInicialMusico" />
        <activity android:name="com.example.quemtocahoje.Views.TelaPesquisaEstabelecimento" />
        <activity android:name="com.example.quemtocahoje.Views.TelaPesquisaMusico" />
        <activity android:name="com.example.quemtocahoje.Views.TelaConvite" />
        <activity android:name="com.example.quemtocahoje.Views.TelaProposta" />
        <activity android:name="com.example.quemtocahoje.Views.TelaUpload" />
        <activity android:name="com.example.quemtocahoje.Views.TelaCadastroEstabelecimento" />
        <activity android:name="com.example.quemtocahoje.Views.TelaCadastroMusico" />
        <activity android:name="com.example.quemtocahoje.Views.TelaCadastroEspectador" />
        <activity android:name="com.example.quemtocahoje.Views.TelaEscolhaCadastro" />
        <activity android:name="com.example.quemtocahoje.Views.Tela" />
        <activity android:name="com.example.quemtocahoje.Views.TelaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.quemtocahoje.Views.TelaEsqueceuaSenha" />
        <activity android:name="com.example.quemtocahoje.Views.TelaRedefinirSenha" />
        <activity
            android:name="com.example.quemtocahoje.Views.MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>