<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tcc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.quemtocahoje.Views.TelaPerfilUsuario"></activity>
        <activity android:name="com.example.quemtocahoje.Chat.Activitys.ConversaActivity" />
        <activity android:name="com.example.quemtocahoje.Views.TelaCriacaoBanda" />
        <activity android:name="com.example.quemtocahoje.Views.TelaAvalicaoEstabelecimento" />
        <activity android:name="com.example.quemtocahoje.Views.TelaAvaliacaoMusico" />
        <activity android:name="com.example.quemtocahoje.Views.TelaInicialEspectador" />
        <activity android:name="com.example.quemtocahoje.Views.TelaEndereco" />
        <activity android:name="com.example.quemtocahoje.Views.TelaInicialEstabelecimento" />
        <activity android:name="com.example.quemtocahoje.Views.TelaInicialMusico" />
        <activity android:name="com.example.quemtocahoje.Views.TelaPesquisaEstabelecimento" />
        <activity android:name="com.example.quemtocahoje.Views.TelaPesquisaMusico"></activity>
        <activity android:name="com.example.quemtocahoje.Views.TelaConvite" />
        <activity android:name="com.example.quemtocahoje.Views.TelaProposta" />
        <activity android:name="com.example.quemtocahoje.Views.TelaUpload" />
        <activity android:name="com.example.quemtocahoje.Views.TelaCadastroEstabelecimento" />
        <activity android:name="com.example.quemtocahoje.Views.TelaCadastroMusico" />
        <activity android:name="com.example.quemtocahoje.Views.TelaCadastroEspectador" />
        <activity android:name="com.example.quemtocahoje.Views.TelaEscolhaCadastro" />
        <activity android:name="com.example.quemtocahoje.Views.TelaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.example.quemtocahoje.Views.TelaEsqueceuaSenha" />
        <activity android:name="com.example.quemtocahoje.Views.TelaRedefinirSenha" />
    </application>

</manifest>